<section>
<article>

  <% if (is_post(file)) { %>
  <nav class="screen prevnext">
    <% if (prev) { %><a href="<%= prev.link %>" title="<%= prev.subject %>">&laquo;</a><% } else { %><span></span><% } %>
    <% if (next) { %><a href="<%= next.link %>" title="<%= next.subject %>">&raquo;</a><% } else { %><span></span><% } %>
  </nav>
  <% } %>

  <h2><%= subject %></h2>

  <p>Latest update: <%= new Date(mtime).toLocaleString() %></p>

  <%- body %>

  <br>Tags: <%- tags_inline %>
  <br>Authors: <%- authors_inline %>

</article>
</section>
