<article>

  <% if (birthtime) { %>
  <nav>
    <% if (prev) { %><a href="<%= prev.link %>" title="<%= prev.subject %>">prev</a><% } %>
    <% if (next) { %><a href="<%= next.link %>" title="<%= next.subject %>">next</a><% } %>
  </nav>
  <% } %>

  <h2><%= subject %></h2>

  <p>Latest update: <%= new Date(mtime).toLocaleString() %></p>

  <%- body %>

  <% if (tags.length) { %>
  <br>Tags: <%- metatags_inline(file, 'tags', tags) %>
  <% } %>

  <% if (authors.length) { %>
  <br>Authors: <%- metatags_inline(file, 'authors', authors) %>
  <% } %>

</article>
