<section>
<% const SLICE = 4;
   let posts = index.posts.slice(0, SLICE);
   posts.forEach( (post, idx) => { %>

<article>
  <h2><a href="<%= post.file.replace(/\.md$/, '.html') %>"><%= post.subject %></a></h2>
  <p>
    Air Date: <%= birthtime_ymd(post.file) %><br>
    Latest update: <%= new Date(post.mtime).toLocaleString() %>
  </p>

  <%- body(post.file) %>

  <br>Tags: <%- metatags_inline(root, 'tags', post.tags) %>
  <br>Authors: <%- metatags_inline(root, 'authors', post.authors) %>

  <% if (idx !== posts.length-1) { %><hr><% } %>

</article>

<% }) %>

<% let post = index.posts[SLICE]; if (post) { %>
  <nav class="screen prevnext">
    <a style="margin-top: 1em" href="<%= link(post.file, root) %>" title="<%= post.subject %>">&laquo;</a>
  </nav>
<% } %>

</section>
