  <nav>
    <img src='<%= path.join(root, 'avatar.jpg') %>' alt='avatar'>

    <br>
    <%- contents.pages %>
    <br>
    <%- contents.posts %>

    <p>Authors:</p>
    <%- authors_list %>

    <p>Tags:</p>
    <%- tags_list %>
  </nav>

</main>

<footer>
  <!-- a deep quote -->
  <p>
    This is no time to bite the bullet with our synchronised incremental
    paradigm shifts.
  </p>
</footer>
