  <nav>
    <img src='<%= path.join(root, 'avatar.jpg') %>' alt='avatar'>

    <p>
      <a href="<%= path.join(root, 'rss.xml') %>"><img src='<%= path.join(root, 'rss.svg') %>' style="height: 1em">
	Subscribe
      </a>
    </p>

    <%- contents.pages %>
    <br>
    <%- contents.posts %>

    <p>Authors:</p>
    <%- authors_list %>

    <p>Tags:</p>
    <%- tags_list %>
  </nav>

</main>

<footer>
  <!-- a deep quote -->
  <p>
    This is no time to bite the bullet with our synchronised incremental
    paradigm shifts.
  </p>
</footer>

<script src="<%= path.join(root, 'nav.js') %>"></script>
