<!doctype html>
<title>
  <%= config.title %>
  <% if (is_post(file)) { %> :: <%= birthtime_ymd(file) %><% } %>
  :: <%= subject %>
</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  /* 'contents' widget */
  summary:only-child::-webkit-details-marker { display: none; }
  summary:only-child { list-style-type: none; }
  summary:only-child::before {
    content: "\2022"; /* circle */
    margin-right: 0.5em;
  }
  details details { margin-left: 1em; }
</style>
<link rel="stylesheet" href="<%= path.join(root, 'style.css') %>">

<header data-root="<%= root %>">
  <h1><a href="<%= root %>"><%= config.title %></a></h1>
  <% if (config.fts) { %>
  <a style="visibility: hidden" class="nbe__search" href="#"><img src="<%= path.join(root, 'fts.svg') %>" alt="Search"></a>
  <% } %>
</header>

<main>
