<!doctype html>
<title>
  <%= config.title %>
  <% if (is_post(file)) { %> :: <%= birthtime_ymd(file) %><% } %>
  :: <%= subject %>
</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="<%= path.join(root, 'style.css') %>">

<header>
  <h1><a href="<%= root %>"><%= config.title %></a></h1>
</header>
