<section>
<article data-file="<%= file %>">

  <nav class="screen prevnext">
    <span id="nbe_post--next"></span>
    <span id="nbe_post--prev"></span>
  </nav>

  <h2><%= subject %></h2>

  <p>Latest update: <%- date_human(mtime) %></p>

  <% if (audio) { %><audio controls src="<%= audio.href %>"></audio><% } %>

  <%- body %>

  <br>Tags: <%- metatags_inline(file, 'tags', tags) %>
  <br>Authors: <%- metatags_inline(file, 'authors', authors) %>

</article>
</section>
