<section>
<article>

  <h2>'<%= subject %>' tag</h2>

  <p>Total: <%= group_by_tag[subject].length %></p>

  <table class="nbe__metatable">
    <thead>
      <th style="width: 20%">Air Date</th>
      <th>Subject</th>
      <th style="width: 30%">Authors</th></thead>
    <tbody>
      <% for (let val of group_by_tag[subject]) { %>
      <tr>
	<td><%= birthtime_ymd(val.file) %></td>
	<td><a href="<%= link(val.file, file) %>"><%= val.subject %></a></td>
	<td><%- metatags_inline(file, 'authors', val.authors) %></td>
      </tr>
      <% } %>
    </tbody>
  </table>

</article>
</section>
